<%= form_tag("/earnings", method: "get") do %>
  <%= label_tag(:title, "Search for average salary by job title:") %>
  <br>
  <%= text_field_tag(:title) %>
  <%= submit_tag("Search") %>
<% end %>

<br>

<p>
  <%= earnings_average(@result) %>
</p>